body {
  background-color: #f9f7f7;
  color: #112d4e;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

h1 {
 font-family: 'Calistoga', cursive;

}

a {
  color: #3f72af;
  text-decoration: none;
}

button {
  font-family: 'Nunito', sans-serif;
  background: none;
  border: 2px solid #dbe2ef;
  border-radius: 5%;
  /* background-color: #dbe2ef; */
  color: #3f72af;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.5%;
}

button:focus {
  outline: none;
  border: 2px solid #3f72af;
}

input {
  margin: 0.2%;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
  border: 2px solid #3f72af;
}

.pet-image {
  padding: 4%;
  max-height: 40%;
  max-width: 40%;
  float: left;
}

.stats{
  padding: 2%;
  position: fixed;
  top: 5%;
  right: 40%;

}

.actions{
  position: fixed;
  top: 45%;
  right: 40%;
  padding: 2%;
}

.actions button{
  margin: 5%;
  padding: 5%;
  /* border-radius: 100%; */
  font-size: 1.25rem;
  cursor: pointer;
  white-space: nowrap;
}

/* .actions li {
  padding-left: 0;
  padding: 2%;
} */

.actions ul{
  list-style-type: none;
  text-align: left;
  margin-left: auto;
  padding: 0;
}

.mood h1 {
  top: 10%;
  right: 13%;
  position: fixed;
}

.mood img {
  width: 20%;
  top: 20%;
  right: 5%;
  position: fixed;
}

.timer {
  position: fixed;
  bottom: 15%;
  right: 13%;
  margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.pause {
  position: fixed;
  bottom: 15%;
  right: 18%;
  margin: 1%;
  padding: 0.5%;
  /* border-radius: 100%; */
  font-size: 1rem;
  cursor: pointer;
}

.save {
  position: fixed;
  bottom: 15%;
  right: 7%;
  margin: 1%;
  padding: 0.5%;
  /* border-radius: 100%; */
  font-size: 1rem;
  cursor: pointer;
}

.pet-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vw, auto);
  /* grid-gap: 5px; */
}

.dashboard {
  text-align: center;

}

.pet-collection img {
  max-height: 50%;
}

/* .dashboard button {
  margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
} */
/*
.pet button {
  margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
} */

.login {
  text-align: center;
}

/* .logout{
   margin: 1%;
  padding: 1%;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
} */








.welcome {
  text-align: center;
}

.welcome img {
  width: 30%;
}

.hungerModal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 65%;
    border: 2px solid #112d4e;
    background-color: #f9f7f7;
}

.hungerModal:focus {
  outline: none;
  border: 2px solid #3f72af;
}

.hungerModal img {
  width: 20%;
  padding: 1%;
}

/* .hungerModal img:active {
  border: 2px solid black;
} */

.gameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f7f7;
    border: 2px solid #112d4e;
    padding: 2%;
    width: 30%;
}

.gameModal:focus {
  outline: none;
  border: 2px solid #3f72af;
}

.dashboard-button {
  position: fixed;
  left: 45%;
}

.socialModal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    height: 70%;
    padding-top: 1%;
    border: 2px solid #112d4e;
    background-color: #f9f7f7;
}

.socialModal:focus {
  outline: none;
  border: 2px solid #3f72af;
}

.hygieneModal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    height: 68%;
    padding-top: 1%;
    border: 2px solid #112d4e;
    background-color: #f9f7f7;
}

.hygieneModal:focus {
  outline: none;
  border: 2px solid #3f72af;
}